:root {
  --container-width: 119rem;
  --gutter: 2rem;
  --color-black: #000;
  --color-white: #fff;
  --color-blue: #2374e1;
  --color-light-blue: #1d9bf0;
  --color-dark-blue: #0a66c2;
  --color-darker-blue: #143ce8;
  --color-red: #ff0000;
  --color-purple: hsla(261, 96%, 33%, 0.822);
  --color-grey: #f6f6f6;
  --color-dark-green: #42959b;
  --color-background: var(--color-white);
  --color-text: var(--color-black);
  --color-box-img: var(--color-black);
  --color-link-bg: var(--color-black);
  --color-input-border: var(--color-black);
  --font-family-Roboto: "Roboto", sans-serif;
  --font-family-Quicksand: "Quicksand", sans-serif;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-semi-bold: 600;
  --font-weight-bold: 700;
  --font-size-70: 7rem;
  --font-size-65: 6.5rem;
  --font-size-40: 4rem;
  --font-size-38: 3.8rem;
  --font-size-24: 2.4rem;
  --font-size-22: 2.2rem;
  --font-size-20: 2rem;
  --font-size-18: 1.8rem;
  --font-size-15: 1.5rem;
  --transition-timing: 0.3s;
}

/* start CSS Reset_________________ */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font: inherit;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
}
/* end CSS Reset _____________________*/
body {
  font-size: 1.6rem;
  font-family: var(--font-family-Quicksand);
}
.bg-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  opacity: 0.08;
  z-index: -1;
}
.container {
  display: grid;
  margin: 0 auto;
  width: var(--container-width);
  row-gap: 10rem;
}

/* globaL styles start________________ */
.h2__heading {
  font-size: var(--font-size-65);
  font-weight: var(--font-weight-bold);
  grid-column: 1/-1;
  margin-bottom: 7.4rem;
  font-family: var(--font-family-Roboto);
}
.section {
  display: grid;
  position: relative;
  grid-template-columns: repeat(2, auto);
  align-items: start;
}
.section-with-bg {
  padding: 10rem 0;
}
.section-with-bg::after {
  content: "";
  position: absolute;
  display: block;
  justify-self: center;
  height: 100%;
  width: 100vw;
  background-color: var(--color-grey);
  z-index: -1;
}

/* globaL styles end________________ */

/* header component start___________________ */

.navigation__list {
  display: flex;
  gap: 2rem;
}
.navigation__link:link,
.navigation__link:visited {
  font-weight: var(--font-weight-medium);
  text-decoration: none;
  font-size: 1.7rem;
}
.navigation__link:hover,
.navigation__link:active {
  text-decoration: underline;
}

.header {
  position: relative;
  padding: 3rem 0;
  display: flex;
  justify-content: center;
}
.header::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100vw;
  top: 0;
  z-index: -1;
  background-color: var(--color-white);
  border-bottom: 0.1rem solid var(--color-input-border);
}

/* toggle start */
.toggle {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}
.toggle__title {
  font-weight: var(--font-weight-medium);
  font-size: var(--font-size-18);
}
.toggle__checkbox {
  display: none;
}

.toggle__label {
  display: block;
  width: 4.5rem;
  height: 2.2rem;
  border-radius: 1.5rem;
  background-color: var(--color-black);
  cursor: pointer;
  padding: 0.3rem 0.4rem;
  transition: var(--transition-timing);
}

.toggle__label::before {
  content: "";
  display: block;
  width: 1.6rem;
  height: 1.6rem;
  border-radius: 50%;
  background-color: var(--color-white);
  transition: var(--transition-timing);
}

.toggle__checkbox:checked + .toggle__label {
  background-color: var(--color-white);
}
.toggle__checkbox:checked + .toggle__label::before {
  background-color: var(--color-black);
  transform: translateX(2.1rem);
}
/* toggle end */

/* header component end+_______________ */

/* bio component start */
.bio {
  grid-template-columns: repeat(2, 1fr);
  gap: 7.4rem;
}

.bio__heading {
  font-family: var(--font-family-Roboto);
  font-size: var(--font-size-70);
  font-weight: var(--font-weight-bold);
}
.bio__objective {
  font-weight: var(--font-weight-regular);
  font-size: var(--font-size-20);
  margin: 3rem 0 8rem;
}
.bio__name {
  font-weight: var(--font-weight-semi-bold);
}
.bio__Almdrasa {
  color: var(--color-purple);
}
.bio__Facebook {
  color: var(--color-blue);
}
.bio__Twitter {
  color: var(--color-light-blue);
}
.bio__LinkedIn {
  color: var(--color-dark-blue);
}
.bio__Youtube {
  color: var(--color-red);
}
.bio__links {
  font-size: var(--font-size-20);
  font-weight: var(--font-weight-semi-bold);
  text-decoration: none;
}
.say-hi-link {
  padding: 0.7rem 4.7rem;
  background-color: var(--color-black);
  color: var(--color-white);
}
.download-cv-link {
  margin-inline-start: 0.7rem;
}

@keyframes jump {
  0% {
    transform: translateY(0.5rem);
  }
  25% {
    transform: translateY(-0.5rem);
  }
  50% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(0);
  }
}

.bio__arrow {
  display: inline-block;
  animation: jump 1s ease-in-out infinite alternate;
}

.bio__pic-part {
  display: flex;
  position: relative;
  align-items: center;
  align-self: center;
  justify-self: end;
}
.bio__pic-part::before {
  content: "";
  display: block;
  position: absolute;
  height: 46rem;
  width: 100%;
  border-radius: 1rem;
  z-index: -1;
  background-color: var(--color-box-img);
  box-shadow: 2.17543px 8.7017px 38.0699px rgba(0, 0, 0, 0.416);
}
.bio__pic {
  width: 50rem;
}
/* bio component end */

/* skills component start */
.skills {
  background-color: var(--color-grey);
}
.skills__item {
  transition: var(--transition-timing);
  user-select: none;
}
.skills__item:hover {
  text-shadow: 0 0 1px var(--color-purple);
}
.skills__languages {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5rem;
}
.language {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-medium);
}
/* skills component end */
/* media component start */

.media__video {
  max-width: 100%;
}
/* media component end */

/* projects component start */
.projects__main {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 7.5rem;
}
.projects__name {
  font-size: var(--font-size-38);
  font-weight: var(--font-weight-bold);
  margin-bottom: 2.5rem;
}
.projects__description {
  font-size: var(--font-weight-medium);
  margin-bottom: 2.3rem;
}
.projects__img {
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.2);
  max-width: 100%;
}
.projects__link {
  font-weight: var(--font-weight-medium);
  color: var(--color-darker-blue);
}
.projects__link::after {
  content: "";
  display: inline-block;
  width: 1.6rem;
  height: 1.6rem;
  background-image: url(images/external-icon.png);
  background-size: contain;
  vertical-align: middle;
  margin-inline-start: 0.3rem;
}
/* projects component end */

/* clients component start */
.clients__reviews {
  grid-column: 1/-1;
}
/* clients component end */
