.clients__reviews {
  grid-column: 1/-1;
  font-size: var(--font-size-40);
  line-height: 1.5;
}
.clients__wrapper {
  display: flex;
  scroll-snap-type: x mandatory;
  overflow-x: auto;
}
.clients__review {
  flex: 0 0 100%;
  scroll-snap-align: start;
}
